body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    color: #333333;
    text-align: center;
    padding: 50px;
}
.dice {
    font-size: clamp(50px, 10vw, 100px);
    width: 100px;
    height: 100px;
    margin: 20px auto;
}


#roll{
    background-color: #4CAF50;
    text-align: center;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}


