body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #eff0f0;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;    
}

form{
    margin-top: 50px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
form input, form select{
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form button{
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
form button:hover{
    background-color: #b3007a;
}
form h2{
    margin-bottom: 20px;
    font-size: auto;
    background-color: antiquewhite;
}



